body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-65px;
  width:661px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u26143 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:75px;
  width:661px;
  height:599px;
}
#u26144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u26144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u26144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:30px;
}
#u26145 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:561px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u26145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:163px;
}
#u26146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:163px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u26146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:163px;
}
#u26147 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:561px;
  height:163px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-style:normal;
  text-align:left;
}
#u26147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:184px;
}
#u26148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:193px;
  width:100px;
  height:184px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u26148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:184px;
}
#u26149 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:193px;
  width:561px;
  height:184px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u26149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u26150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:377px;
  width:100px;
  height:95px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u26150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:95px;
}
#u26151 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:377px;
  width:561px;
  height:95px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u26151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u26152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:472px;
  width:100px;
  height:127px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u26152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:127px;
}
#u26153 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:472px;
  width:561px;
  height:127px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u26153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
