body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:843px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:921px;
}
#u10117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:921px;
  display:flex;
}
#u10117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10118 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:231px;
  width:101px;
  height:33px;
  display:flex;
  font-size:16px;
}
#u10118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u10119 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:297px;
  width:300px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u10119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10120 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:103px;
  width:452px;
  height:389px;
}
#u10121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u10121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:35px;
}
#u10122 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:352px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:58px;
}
#u10123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:100px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:58px;
}
#u10124 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:35px;
  width:352px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u10125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:100px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:33px;
}
#u10126 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:93px;
  width:352px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:40px;
}
#u10128 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:126px;
  width:352px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:166px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:30px;
}
#u10130 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:166px;
  width:352px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u10131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:100px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:33px;
}
#u10132 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:196px;
  width:352px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u10133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:229px;
  width:100px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:33px;
}
#u10134 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:229px;
  width:352px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u10135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:262px;
  width:100px;
  height:127px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:127px;
}
#u10136 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:262px;
  width:352px;
  height:127px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u10138 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:23px;
  width:28px;
  height:28px;
  display:flex;
  opacity:0.66;
}
#u10138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u10139 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:29px;
  width:16px;
  height:16px;
  display:flex;
}
#u10139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:32px;
  background:inherit;
  background-color:rgba(163, 72, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:187px;
  width:342px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
