body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-114px;
  width:1456px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u26177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:67px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u26177 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:61px;
  width:344px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u26177 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u26177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:725px;
}
#u26178 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:314px;
  width:344px;
  height:725px;
  display:flex;
}
#u26178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 226, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:21px;
}
#u26179 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:709px;
  width:346px;
  height:109px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:21px;
}
#u26179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 226, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u26180 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:389px;
  width:346px;
  height:113px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u26180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26181 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:463px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u26181_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-22px;
  width:10px;
  height:22px;
}
#u26181_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-22px;
  width:180px;
  height:10px;
}
#u26181_seg2 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:-27px;
  width:20px;
  height:20px;
}
#u26181_text {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-25px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u26182 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:279px;
  width:61px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u26182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26182_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:740px;
}
#u26183 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:314px;
  width:342px;
  height:740px;
  display:flex;
}
#u26183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:26px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#393939;
}
#u26184 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:751px;
  width:242px;
  height:26px;
  display:flex;
  font-size:10px;
  color:#393939;
}
#u26184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#393939;
}
#u26185 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:697px;
  width:29px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#393939;
}
#u26185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:26px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#393939;
}
#u26186 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:881px;
  width:258px;
  height:26px;
  display:flex;
  font-size:10px;
  color:#393939;
}
#u26186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26187 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:764px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u26187_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:55px;
  height:10px;
}
#u26187_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-9px;
  width:19px;
  height:18px;
}
#u26187_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 226, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:21px;
}
#u26188 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:881px;
  width:346px;
  height:47px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:21px;
}
#u26188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:26px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#393939;
}
#u26189 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:463px;
  width:298px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#393939;
}
#u26189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 226, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u26190 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:149px;
  width:346px;
  height:113px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u26190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u26191 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:279px;
  width:63px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u26191 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26191_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:288px;
}
#u26192 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1410px;
  width:333px;
  height:288px;
  display:flex;
}
#u26192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u26193 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:1650px;
  width:28px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u26193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:820px;
}
#u26194 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1733px;
  width:306px;
  height:820px;
  display:flex;
}
#u26194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:67px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u26195 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1129px;
  width:344px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u26195 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u26195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26196 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:1673px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u26196_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:81px;
  width:258px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u26196_seg1 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:217px;
  width:254px;
  height:18px;
  -webkit-transform:rotate(22deg);
  -moz-transform:rotate(22deg);
  -ms-transform:rotate(22deg);
  transform:rotate(22deg);
}
#u26196_text {
  border-width:0px;
  position:absolute;
  left:126px;
  top:164px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u26197 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:2472px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u26197_seg0 {
  border-width:0px;
  position:absolute;
  left:-172px;
  top:-228px;
  width:430px;
  height:40px;
  -webkit-transform:rotate(-74deg);
  -moz-transform:rotate(-74deg);
  -ms-transform:rotate(-74deg);
  transform:rotate(-74deg);
}
#u26197_seg1 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-504px;
  width:312px;
  height:50px;
  -webkit-transform:rotate(-20deg);
  -moz-transform:rotate(-20deg);
  -ms-transform:rotate(-20deg);
  transform:rotate(-20deg);
}
#u26197_text {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-417px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u26198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 226, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u26198 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1212px;
  width:500px;
  height:180px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u26198 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 226, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:21px;
}
#u26199 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:1700px;
  width:346px;
  height:42px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:21px;
}
#u26199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:722px;
}
#u26200 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:1611px;
  width:342px;
  height:722px;
  display:flex;
}
#u26200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26201 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:1742px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u26201_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-26px;
  width:10px;
  height:26px;
}
#u26201_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-26px;
  width:124px;
  height:10px;
}
#u26201_seg2 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-31px;
  width:20px;
  height:20px;
}
#u26201_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 226, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:21px;
}
#u26202 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:1834px;
  width:346px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:21px;
}
#u26202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26203 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:1835px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u26203_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:32px;
}
#u26203_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:22px;
  width:123px;
  height:10px;
}
#u26203_seg2 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:17px;
  width:20px;
  height:20px;
}
#u26203_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:19px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u26204 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:1579px;
  width:91px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u26204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:106px;
}
#u26205 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:1876px;
  width:88px;
  height:106px;
  display:flex;
}
#u26205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u26206 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:1876px;
  width:30px;
  height:30px;
  display:flex;
}
#u26206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u26207 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:1964px;
  width:18px;
  height:18px;
  display:flex;
}
#u26207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:26px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#393939;
}
#u26208 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:1738px;
  width:298px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#393939;
}
#u26208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:26px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#393939;
}
#u26209 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:1818px;
  width:298px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#393939;
}
#u26209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:26px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#393939;
}
#u26210 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:1986px;
  width:298px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#393939;
}
#u26210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
