body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-70px;
  width:1785px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u38134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:602px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38134 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:91px;
  width:344px;
  height:602px;
  display:flex;
}
#u38134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleColorEmoji', 'Apple Color Emoji', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u38135 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:397px;
  width:330px;
  height:57px;
  display:flex;
  font-family:'AppleColorEmoji', 'Apple Color Emoji', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u38135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38135_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u38137 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:693px;
  width:155px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u38137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38137_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u38138 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:50px;
  width:97px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u38138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:215px;
}
#u38141 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:154px;
  width:202px;
  height:215px;
  display:flex;
}
#u38141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38142 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:253px;
  width:44px;
  height:21px;
  display:flex;
}
#u38142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:9px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38143 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:253px;
  width:3px;
  height:9px;
  display:flex;
}
#u38143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:58px;
}
#u38144 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:243px;
  width:42px;
  height:58px;
  display:flex;
  color:#FFFFFF;
}
#u38144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u38145 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:106px;
  width:64px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u38145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38145_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u38147 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:649px;
  width:173px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u38147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u38148 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:608px;
  width:66px;
  height:66px;
  display:flex;
}
#u38148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u38149 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:617px;
  width:106px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u38149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
}
#u38150 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:617px;
  width:53px;
  height:50px;
  display:flex;
}
#u38150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:602px;
}
#u38151 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:91px;
  width:1335px;
  height:602px;
  display:flex;
}
#u38151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:602px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38152 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:833px;
  width:344px;
  height:602px;
  display:flex;
}
#u38152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u38153 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:1356px;
  width:220px;
  height:50px;
  display:flex;
}
#u38153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u38154 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:1356px;
  width:50px;
  height:50px;
  display:flex;
}
#u38154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
}
#u38155 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:853px;
  width:285px;
  height:57px;
  display:flex;
  font-family:'Arial-Black', 'Arial Black', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
}
#u38155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:25px;
}
#u38156 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:922px;
  width:200px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:25px;
}
#u38156 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38156_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:176px;
}
#u38157 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1003px;
  width:176px;
  height:176px;
  display:flex;
}
#u38157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38159_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:54px;
  height:7px;
}
#u38159 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:1273px;
  width:50px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-56.6815773106875deg);
  -moz-transform:rotate(-56.6815773106875deg);
  -ms-transform:rotate(-56.6815773106875deg);
  transform:rotate(-56.6815773106875deg);
  color:#00C611;
}
#u38159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38160_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:43px;
  height:7px;
}
#u38160 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:1245px;
  width:39px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-21.7129683781948deg);
  -moz-transform:rotate(-21.7129683781948deg);
  -ms-transform:rotate(-21.7129683781948deg);
  transform:rotate(-21.7129683781948deg);
  color:#00C611;
}
#u38160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38161_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:50px;
  height:7px;
}
#u38161 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:1220px;
  width:46px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-50.2780584063877deg);
  -moz-transform:rotate(-50.2780584063877deg);
  -ms-transform:rotate(-50.2780584063877deg);
  transform:rotate(-50.2780584063877deg);
  color:#00C611;
}
#u38161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38162_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:194px;
  height:7px;
}
#u38162 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1110px;
  width:190px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-79.8898805432706deg);
  -moz-transform:rotate(-79.8898805432706deg);
  -ms-transform:rotate(-79.8898805432706deg);
  transform:rotate(-79.8898805432706deg);
  color:#00C611;
}
#u38162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38162_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u38163_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:94px;
  height:7px;
}
#u38163 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1290px;
  width:90px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(5.68603429652052deg);
  -moz-transform:rotate(5.68603429652052deg);
  -ms-transform:rotate(5.68603429652052deg);
  transform:rotate(5.68603429652052deg);
  color:#00C611;
}
#u38163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38164 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:1303px;
  width:44px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38164 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38164_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38165 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:1221px;
  width:69px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38165 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38165_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38166 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:1061px;
  width:76px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38166 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38166_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:33px;
  background:inherit;
  background-color:rgba(93, 68, 68, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u38167 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:1227px;
  width:69px;
  height:33px;
  display:flex;
  opacity:0.94;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u38167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
  background:inherit;
  background-color:rgba(93, 68, 68, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u38168 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:959px;
  width:73px;
  height:32px;
  display:flex;
  opacity:0.94;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u38168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:564px;
}
#u38169 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:947px;
  width:469px;
  height:564px;
  display:flex;
}
#u38169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
}
#u38170 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:833px;
  width:469px;
  height:88px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-style:normal;
}
#u38170 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#000000;
  text-align:center;
}
#u38171 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:1263px;
  width:45px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#000000;
  text-align:center;
}
#u38171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38171_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:613px;
}
#u38172 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:729px;
  width:429px;
  height:613px;
  display:flex;
}
#u38172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u38173 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:995px;
  width:72px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u38173 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38173_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u38174 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:1018px;
  width:14px;
  height:14px;
  display:flex;
}
#u38174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u38175 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:1081px;
  width:14px;
  height:14px;
  display:flex;
}
#u38175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38176 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:1179px;
  width:67px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u38176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38176_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u38177 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:1199px;
  width:14px;
  height:14px;
  display:flex;
}
#u38177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u38178 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:1246px;
  width:14px;
  height:14px;
  display:flex;
}
#u38178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u38179 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:1288px;
  width:14px;
  height:14px;
  display:flex;
}
#u38179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u38180 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:1280px;
  width:14px;
  height:14px;
  display:flex;
}
#u38180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
