body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:843px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:1338px;
}
#u10370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:1338px;
  display:flex;
}
#u10370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10371 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:103px;
  width:452px;
  height:412px;
}
#u10372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u10372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:35px;
}
#u10373 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:352px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u10374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:100px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:35px;
}
#u10375 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:35px;
  width:352px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u10376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:100px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:35px;
}
#u10377 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:70px;
  width:352px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:40px;
}
#u10379 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:105px;
  width:352px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u10380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:145px;
  width:100px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:33px;
}
#u10381 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:145px;
  width:352px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u10382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:178px;
  width:100px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:33px;
}
#u10383 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:178px;
  width:352px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:211px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:30px;
}
#u10385 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:211px;
  width:352px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u10386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:241px;
  width:100px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:33px;
}
#u10387 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:241px;
  width:352px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:274px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:40px;
}
#u10389 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:274px;
  width:352px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:314px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:40px;
}
#u10391 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:314px;
  width:352px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:58px;
}
#u10392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:354px;
  width:100px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:58px;
}
#u10393 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:354px;
  width:352px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u10393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
  background:inherit;
  background-color:rgba(182, 0, 64, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10394 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:477px;
  width:88px;
  height:35px;
  display:flex;
}
#u10394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:23px;
  background:inherit;
  background-color:rgba(144, 0, 169, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10395 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:28px;
  width:58px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
