body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-109px;
  width:1600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u33203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2317px;
}
#u33203 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:64px;
  width:333px;
  height:2317px;
  display:flex;
}
#u33203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:288px;
}
#u33204 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:738px;
  width:333px;
  height:288px;
  display:flex;
}
#u33204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:282px;
}
#u33205 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:1052px;
  width:333px;
  height:282px;
  display:flex;
}
#u33205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33206 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:882px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u33206_seg0 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:-16px;
  width:106px;
  height:12px;
  -webkit-transform:rotate(-170deg);
  -moz-transform:rotate(-170deg);
  -ms-transform:rotate(-170deg);
  transform:rotate(-170deg);
}
#u33206_seg1 {
  border-width:0px;
  position:absolute;
  left:-197px;
  top:-12px;
  width:104px;
  height:10px;
  -webkit-transform:rotate(167deg);
  -moz-transform:rotate(167deg);
  -ms-transform:rotate(167deg);
  transform:rotate(167deg);
}
#u33206_text {
  border-width:0px;
  position:absolute;
  left:-147px;
  top:-26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u33207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u33207 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:30px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u33207 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33207_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u33208 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:695px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u33208 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33208_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33209 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:1193px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u33209_seg0 {
  border-width:0px;
  position:absolute;
  left:-111px;
  top:-21px;
  width:116px;
  height:12px;
  -webkit-transform:rotate(-161deg);
  -moz-transform:rotate(-161deg);
  -ms-transform:rotate(-161deg);
  transform:rotate(-161deg);
}
#u33209_seg1 {
  border-width:0px;
  position:absolute;
  left:-205px;
  top:-77px;
  width:116px;
  height:12px;
  -webkit-transform:rotate(-138deg);
  -moz-transform:rotate(-138deg);
  -ms-transform:rotate(-138deg);
  transform:rotate(-138deg);
}
#u33209_text {
  border-width:0px;
  position:absolute;
  left:-154px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u33210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:196px;
}
#u33210 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:1358px;
  width:333px;
  height:196px;
  display:flex;
}
#u33210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:192px;
}
#u33211 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:1578px;
  width:333px;
  height:192px;
  display:flex;
}
#u33211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:210px;
}
#u33212 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:1793px;
  width:333px;
  height:210px;
  display:flex;
}
#u33212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:297px;
}
#u33213 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:1793px;
  width:333px;
  height:297px;
  display:flex;
}
#u33213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33214 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:1456px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u33214_seg0 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:-32px;
  width:134px;
  height:14px;
  -webkit-transform:rotate(-153deg);
  -moz-transform:rotate(-153deg);
  -ms-transform:rotate(-153deg);
  transform:rotate(-153deg);
}
#u33214_seg1 {
  border-width:0px;
  position:absolute;
  left:-225px;
  top:-110px;
  width:134px;
  height:14px;
  -webkit-transform:rotate(-131deg);
  -moz-transform:rotate(-131deg);
  -ms-transform:rotate(-131deg);
  transform:rotate(-131deg);
}
#u33214_text {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:-67px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u33215 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:1674px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u33215_seg0 {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:-82px;
  width:182px;
  height:14px;
  -webkit-transform:rotate(-122deg);
  -moz-transform:rotate(-122deg);
  -ms-transform:rotate(-122deg);
  transform:rotate(-122deg);
}
#u33215_seg1 {
  border-width:0px;
  position:absolute;
  left:-207px;
  top:-200px;
  width:140px;
  height:14px;
  -webkit-transform:rotate(-137deg);
  -moz-transform:rotate(-137deg);
  -ms-transform:rotate(-137deg);
  transform:rotate(-137deg);
}
#u33215_text {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-157px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u33216 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:1898px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u33216_seg0 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:-66px;
  width:160px;
  height:10px;
  -webkit-transform:rotate(-125deg);
  -moz-transform:rotate(-125deg);
  -ms-transform:rotate(-125deg);
  transform:rotate(-125deg);
}
#u33216_seg1 {
  border-width:0px;
  position:absolute;
  left:-249px;
  top:-218px;
  width:216px;
  height:10px;
  -webkit-transform:rotate(-120deg);
  -moz-transform:rotate(-120deg);
  -ms-transform:rotate(-120deg);
  transform:rotate(-120deg);
}
#u33216_text {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:-133px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u33217 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:1930px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u33217_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:17px;
}
#u33217_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:7px;
  width:286px;
  height:10px;
}
#u33217_seg2 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:2px;
  width:20px;
  height:20px;
}
#u33217_text {
  border-width:0px;
  position:absolute;
  left:84px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u33218 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:1898px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u33218_seg0 {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:-26px;
  width:106px;
  height:16px;
  -webkit-transform:rotate(-164deg);
  -moz-transform:rotate(-164deg);
  -ms-transform:rotate(-164deg);
  transform:rotate(-164deg);
}
#u33218_seg1 {
  border-width:0px;
  position:absolute;
  left:-221px;
  top:-18px;
  width:132px;
  height:16px;
  -webkit-transform:rotate(161deg);
  -moz-transform:rotate(161deg);
  -ms-transform:rotate(161deg);
  transform:rotate(161deg);
}
#u33218_text {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-47px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u33219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:239px;
}
#u33219 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:2040px;
  width:333px;
  height:239px;
  display:flex;
}
#u33219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:225px;
}
#u33220 {
  border-width:0px;
  position:absolute;
  left:1376px;
  top:1793px;
  width:333px;
  height:225px;
  display:flex;
}
#u33220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u33221 {
  border-width:0px;
  position:absolute;
  left:1376px;
  top:1758px;
  width:289px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u33221 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33221_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u33222 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:2160px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u33222_seg0 {
  border-width:0px;
  position:absolute;
  left:-109px;
  top:-48px;
  width:126px;
  height:18px;
  -webkit-transform:rotate(-145deg);
  -moz-transform:rotate(-145deg);
  -ms-transform:rotate(-145deg);
  transform:rotate(-145deg);
}
#u33222_seg1 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-68px;
  width:120px;
  height:18px;
  -webkit-transform:rotate(164deg);
  -moz-transform:rotate(164deg);
  -ms-transform:rotate(164deg);
  transform:rotate(164deg);
}
#u33222_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-78px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u33223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u33223 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:923px;
  width:58px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u33223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u33224 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1343px;
  width:58px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u33224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u33225 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1479px;
  width:58px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u33225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u33226 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:978px;
  width:28px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u33226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33227_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u33227 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:878px;
  width:30px;
  height:40px;
  display:flex;
}
#u33227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33228_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u33228 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:1315px;
  width:30px;
  height:40px;
  display:flex;
}
#u33228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33229_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u33229 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:1451px;
  width:30px;
  height:40px;
  display:flex;
}
#u33229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33230_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u33230 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:938px;
  width:30px;
  height:40px;
  display:flex;
}
#u33230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u33231 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:1509px;
  width:58px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u33231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33232_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u33232 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:1484px;
  width:30px;
  height:40px;
  display:flex;
}
#u33232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 213, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u33233 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:737px;
  width:300px;
  height:170px;
  display:flex;
  text-align:left;
}
#u33233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
